.property-binding{
    img{
        display: block;
        margin-bottom: 5px;
    }
}

.highlight{
    background-color: green;
    font-weight: bold;
}

.highlightFalse{
    background-color: red;
    font-weight: bold;

}